.footer
	.container
		.row
			.span6
					p Website by Mack Yi, 2013
			.span3.offset3
				<iframe src="https://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Dreamedu/333734293410307" scrolling="no" frameborder="0" style="border:none; width:450px; height:80px"></iframe>
			
