extends scroll-layout
block head
	title About DreamEdu
	link(rel="stylesheet", href="/css/pagescroller.css")
block content
	.scrollheader
		.container
			.spacer
			.span12
				.pagetitle
					|   About Us
				ul.nav-tabs.unstyled#nav.pageScrollerNav
						li.active: a.black(href="#") Background
						li: a.black(href="#") Our Mission
						li: a.black(href="#") Our Accomplishments
						li: a.black(href="#") Our Executive Board
						li: a.black(href="#") Our Board of Advisors
	.container
		.row
			.span12
				#wrapper
					#main
						.section
							.description
								|DreamEdu is dedicated to helping disadvantaged students help themselves and their societies
							p We offer help to students from different socioeconomic and cultural backgrounds, both domestically in the United States as well as abroad through the DukeEngage program funded by Duke University.
							p Our organization encourages them to 'dream' of a project to aid their societies, while helping them access higher education.  This program is being implemented both 
							p	Each of our students has a dream through which they hope to improve the lives of those around them.  
								The members of DreamEdu work hard 	to make those dreams a reality.  
							p	The second component is test preparation.  As competition increases, students need to get higher test scores on standardized exams in order to remain relevant and have a chance at higher education.  DreamEdu offers materials to aid preparation for the SAT, SAT II, and ACT for college applications.
							p	The third component, and arguably the most important, is personalized advice and aid.  Students have us read their essays, and talk to us about their dreams and goals, and DreamEdu helps them happen.  
						.section	
							.description Our Mission Statement:
							p.indent DreamEdu is a student-initiated advisory organization that endeavors to guide underprivileged students to strive for higher education. 
							p.indent DreamEdu believes that access to higher education is largely a privilege influenced heavily by family support, school environment, and exposure from a young age. For many youth without these positive influences, both domestic and international, higher education can seem like an unreachable or unrealistic goal.  
							p.indent DreamEdu aims to empower youth through its curriculum and a program that has been designed by college students attending internationally-recognized universities. By partnering with DukeEngage, mentors will live and meet their mentees personally while experiencing their environment, enabling DreamEdu to create unique personal connections that allow for a very individualized path towards a common goal.  
							p.indent Through DreamEdu, students, referred to as ‘Dreamers,’ receive mentorship on two main foci, college applications and community leadership. The dreamer’s responsibility is to design and implement a dream within their community, defined as a practical and sustainable project to improve their community while receiving support from college students with leadership experience in a variety of organizations. 
						.section
							h1 section 3
						.section 
							.description Who we are
							.person
								img(src='/img/leighanne.jpg')
								p Leighanne Oh
								p International Head
							.person
								img(src='/img/priya.jpg')
								p Priya Achaibar
								p Domestic Head
							.person
								img(src='/img/gaemin.jpg')
								p GaeMin Lee
								p Founding Member
							.person
								img(src='/img/frank.jpg')
								p Frank Cai
								p SAT Prep
							.person
								img(src='/img/mack.jpg')
								p Mack Yi
								p Web Development
							.person
								img(src='/img/defaultprofile.png')
								p Isabella Kwai
								p Curriculum
							.person
								img(src='/img/defaultprofile.png')
								p Jason Luo
								p Curriculum
							.person
								img(src='/img/defaultprofile.png')
								p Rajan Patel
								p Curriculum
						.section 
							h1 section 5
block scripts
	script(src="/javascript/jquery.pagescroller.lite.js")
	script
		$(document).ready(function(){
			$('body').pageScroller({
				navigation: '#nav'
			});
		});
