extends layout
block head
	title Dreams

block content

	.header
		.container
			.span12
				.pagetitle
					|Dreams
				.subtitle A look at the dreams of students who've partnered with DreamEdu.
	.container
		.row
			.span10.offset1
				.carousel.slide#myCarousel.dreamprofile
					ol.carousel-indicators
						li.active(data-target="#myCarousel", data-slide-to="0")
						li(data-target="#myCarousel", data-slide-to="1")
						li(data-target="#myCarousel", data-slide-to="2")
						li(data-target="#myCarousel", data-slide-to="3")
						li(data-target="#myCarousel", data-slide-to="4")
					.carousel-inner
						.item.active
							.span3.offset1
								img.img-rounded(src="/img/GhidaElBanna.jpg")
							.span4.offset1
								h4 Ghida El Banna
								p School: Saida Secondary Public School for Girls, Lebanon 
								p
									|DreamProject: I am the founder and the President of the Health Committee where my goal is to spread hygiene and health awareness in Lebanon, a limiting resource in my country. 
								p	
									|Dreams: Ghida wants to be a doctor and hopes to study Biology in college. 
								p	
									|Accomplishments:  Ghida is a Hope scholar and will be funded by the Hope foundation to attend a college in the U.S for the next four years. 

						.item
							.span3.offset1
								img.img-rounded(src="/img/OmarAlHassan.jpg")
							.span4.offset1
								h4 Omar Al Hassan
								p School: Al-Iman High School, Lebanon
								p	
									|Dreams: I want to go into Medicine (Cardiothorasics / Optimology )

						.item
							.span3.offset1
								img.img-rounded(src="/img/TalalZarif.jpg")
							.span4.offset1
								h4 Talal Zarif
								p School: National Evangelical Institute for Girls and Boys, Lebanon 
								p
									|DreamProject: With a partner, I plan to create an environmentally friendly and economically feasible electrical coating that can minimize the electrocution occurrences in Palestinian refugee camps. 
								p	
									|Dreams: Talal is not sure if he wants to go into engineering or medicine

						.item
							.span3.offset1
								img.img-rounded(src="/img/HasanGhazzawi.jpg")
							.span4.offset1
								h4 Hasan Ghazzawi
								p School: National Evangelical Institute for Girls and Boys, Lebanon
								p
									|DreamProject: With a partner, I plan to create an environmentally friendly and economically feasible electrical coating that can minimize the electrocution occurrences in Palestinian refugee camps.
								p	
									|Dreams: Hasan wants to be an engineer
						.item
							.span3.offset1
								img.img-rounded(src="/img/IbrahimBjermi.jpg")
							.span4.offset1
								h4 Ibrahim Bjermi
								p School: Nazareth Secondary, Lebanon 
								p Dreams: Ibrahim wants to be a doctor and study 


								

					a.carousel-control.left(href="#myCarousel", data-slide="prev") &lsaquo;

					a.carousel-control.right(href="#myCarousel", data-slide="next") &rsaquo;
		

block scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
	script(src="/javascript/carousel.js")