extends layout
block head
	title Get Involved
	link(rel="stylesheet", href="/css/tsc_ribbons.css")

block content
	.header
		.container
			.span12
				.pagetitle
					|Get Involved
				.subtitle Make a difference. Get involved now!
	.container
		.row
			.span12
				.involver
					.tsc_ribbon_banner
						.ribbon-banner.fold-down.lblue
							p Partner through DukeEngage
					img(src='/img/bookguy.jpg')
				.googleform
					<iframe src="https://docs.google.com/forms/d/1XwsRmfRug7kZF80zNwUlFqvdFcd-zpCzL6tEMAvEx0s/viewform?embedded=true" width="500" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

				.involver
					img(src='/img/teacher.jpg')
				.involver
					img(src='/img/faroff.jpg')
				.involver
					img(src='/img/studentgroup.jpg')
				
