extends layout
block head
	title Get Involved
	link(rel="stylesheet", href="/css/tsc_ribbons.css")

block content
	.header
		.container
			.span12
				.pagetitle
					|Get Involved
				.subtitle Make a difference. Get involved now!
	.container
		.row
			.span12
				.frontground
					.row
						.span6
							.description You can help in several ways:
							ul
								li.subdescription Become a <b>Mentor</b>
								li.subdescription Partner Through <b>DukeEngage</b>
								li.subdescription Share your experience and expertise through your <b>essays</b>
							.involver
								img(src='/img/involved_1.jpg')
							.involver
								img(src='/img/involved_2.jpg')
						.span5
							.description Email us at <a href="mailto:dreamedu.contact@gmail.com">dreamedu.contact@gmail.com</a> to get in touch!
							.involver
								img(src='http://static.wix.com/media/511a39_de05e6a7e9d759e976f94e4d207bcbf0.png_srz_515_360_75_22_0.50_1.20_0.00_png_srz')
							//- .googleform
							//- 	<iframe src="https://docs.google.com/forms/d/1XwsRmfRug7kZF80zNwUlFqvdFcd-zpCzL6tEMAvEx0s/viewform?embedded=true" width="500" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>