extends layout
block head
	title DreamEdu
block content
	.banner
		.container
			.row
				.span3.offset1
					.spacer
					img.logo(src="/img/logo_swing2.png", href="/")
				.span6
					.spacer
					.description
						| Dream of a better world together. 
					.subdescription
						| For disadvantaged youth, college can seem impossible.
					.subdescription
						| DreamEdu's program empowers youth from around the world to improve their communities, attend college, and realize their dreams.

				.span2
					.partners
						h4 Partnered with
						img.tallpartner(src="/img/ulyp.png")
						img.widepartner(src="/img/dukeengage.png")
						img.widepartner(src="/img/amideast.png")
	.lower
		.container
			.spacer
			.span6
				img.frontpicture(src="http://static.wix.com/media/511a39_ca2863f612f7e3aa18ccfdbd3446387a.jpg_srz_950_405_75_22_0.50_1.20_0.00_jpg_srz")
			.span4.offset1
				.row
						.infobox
							a(href="/dreams")
								h2 Dream Big
							p 
								|Each dreamer conceptualizes a project to improve their environments, and DreamEdu helps make it a reality.
				.row
						.infobox(style="margin-top: 10px")
							a(href="#")
								h2 Make it Happen
							p
								|DreamEdu provides a comprehensive, straightforward curriculum enabling dreamers to improve their situations through higher education. 