extends layout
block head
	title DreamEdu
block content
	.banner
		.container
			.row
				.span3.offset1
					img.logo(src="/img/dreamedu.png", href="/")
				.span6
					.description
						| Dream of a better world together. 
					.subdescription
						| For disadvantaged youth, college can seem impossible.
					.subdescription
						| DreamEdu's program empowers youth from around the world to improve their communities, attend college, and realize their dreams.

				.span2
					.partners
						h4 Partnered with
						img.tallpartner(src="/img/ulyp.png")
						img.widepartner(src="/img/dukeengage.png")
						img.widepartner(src="/img/amideast.png")
	.lower
		.container
			.spacer
				.row
					.span4.offset1
						.infobox
							h2 Dream Big
							p 
								|The first step in the DreamEdu curriculum is in the hands of the student.  Each individual dreamer conceptualizes a project to improve their environments, and then with the help of DreamEdu's resources, makes it happen.
					.span4
						.infobox
							h2 Make It Happen
							p
								|By providing a comprehensive and straightforward curriculum and advice on scholarships and other necessities, DreamEdu enables its dreamers to attend higher education, and gain the knowledge to improve their situations. 
