extends scroll-layout
block head
	title Student Resources
	link(rel="stylesheet", href="/css/pagescroller.css")
block content
	.scrollheader
		.container
			.spacer
			.span12
				.pagetitle
					|Resources
				ul.nav-tabs.unstyled#nav.pageScrollerNav
						li.active: a.black(href="#") Overview
						li: a.black(href="#") Curriculum
						li: a.black(href="#") Essay Submission
						li: a.black(href="#") Applying to College Checklist
						li: a.black(href="#") College FAQ
	.container
		.row
			.span12
				#wrapper
					#main
						.section
							.description
								|Dreamers and other students applying to college can find useful resources and tools here.
							
							p Information about our curriculum, a college application checklist, and a college FAQ are freely available to all

							p Essay submission is a special tool for Dreamers to send application essays to mentors for review
						.section	
							.description Curriculum
							p Not yet added.
						.section
							.description Essay Submission
							a(href="/upload") Go here to upload essays
						.section 
							.description Applying to College Checklist
							p Coming soon.
						.section 
							.description College FAQ
							p Which college is right for me?
							p What is the application process?
							p Should I take the SAT or ACT?
							p What are the SAT II exams?
							p What should I write my essays on?
							p What scholarships exist for me?

							p Have another question? Submit it here:
							a(href="/question") Question Submitter


block scripts
	script(src="/javascript/jquery.pagescroller.lite.js")
	script
		$(document).ready(function(){
			$('body').pageScroller({
				navigation: '#nav'
			});
		});
