extends layout
block head
	title Student Resources
block content
	.header#resourceshead
		.container
			.span12
				.pagetitle
					|   Resources
	.lower
		.container
			.row
				.span12
					.navbar
						.navbar-inner
							ul.nav
								li.active: a(href="#") Background
								li: a(href="#") Our Mission
								li: a(href="#") Our Accomplishments
								li: a(href="#") Our Executive Board
								li: a(href="#") Our Board of Advisors
					p.
						DreamEdu is an organization dedicated to helping students from different socioeconomic and cultural backgrounds help themselves and their societies.  Our organization encourages them to 'dream' of a project to aid their societies, while helping them access higher education.  This program is being implemented both domestically in the United States as well as abroad through the DukeEngage program funded by Duke University.
					p	Each of our students has a dream through which they hope to improve the lives of those around them.  
						The members of DreamEdu work hard 	to make those dreams a reality.  
					p	The second component is test preparation.  As competition increases, students need to get higher test scores on standardized exams in order to remain relevant and have a chance at higher education.  DreamEdu offers materials to aid preparation for the SAT, SAT II, and ACT for college applications.
					p	The third component, and arguably the most important, is personalized advice and aid.  Students have us read their essays, and talk to us about their dreams and goals, and DreamEdu helps them happen.  
		

