/*navbar*/

.googleform{
	float: right;
	display: inline-block;
}
.involver{
	display: inline-block;
	padding: 15px;
}
.partners{
	padding-top: 30px;
}
.person{
	display: inline-block;
	padding: 3px;
}
.person img{
	height: 200px;
	width: 130px;
}
.indent{
	text-indent: 50px;
}
.black{
	color: black;
	font-size: 1.3em;
	line-height: 1em;
}
.active a:hover{

}
#nav .active a{
	background-image: url(/img/straws.png);
}
.description{
	padding: 40px 0px 20px 0px;
	font-size: 2.5em;
	color: black;
	line-height: 1em;
}
.subdescription{
	font-size: 1.5em;
	color: black;
	line-height: 1.5em;
}
.pagetitle{
	padding: 40px 0px 40px 0px;
	font-size: 4em;
}
.subtitle{
	margin: -20px 0px 0px 0px;
	font-size: 1.5em;
	color: black;
	line-height: 1.5em;
}
.wide{
	width: 100%;
}

.semiwide{
	width: 90%;
}

.widepartner{
	height: 40px;
}
.tallpartner{
	width: 80px;
}

.logo{
	height: 240px;
}
.small-logo{
	height: 80px;
}

.carousel-inner .item{
	height: 350px;
}


ul.nav{
	height: 40px;

}
#navprofile{
	line-height: 40px;
}

#navregister{
	margin-right: 5px;
}

.navbar-inner{
}

body{
	background-image: url(../img/straws.png);
}

#resourceshead{
	background-image: url(../img/books.jpg);
}

.scrollheader{
	position: fixed;
	background-image: url(../img/straws2.png);
	width: 100%;
	height: 160px;
	 -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}
.header{
	background-image: url(../img/straws2.png);
	width: 100%;
	height: 120px;
	 -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}

.banner{
	background-image: url(../img/straws2.png);
	width: 100%;
	height: 240px;
	padding: 0px 0px 20px 0px;
	  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}

.dreamprofile{
	margin-top: 40px;
	border: 1px solid;
	border-color: #999;
	box-shadow: 3px  3px 1px #888;
}
.lower{
	background-image: url(../img/pw_maze_black.png);
	width: 100%;
}

.content{
	width: 80%;
	background-color: #ccc;
	height: 500px;
}
.infobox{
	padding: 10px;
	border: 1px solid;
	border-color: #999;
	box-shadow: 3px  3px 1px #888;
	background-color: #aaa;
}
.sidebar{
	padding: 10px;
	border: 1px solid #999;
	box-shadow: 3px 3px 1px #888;
	background-color: #aaa;
}
.spacer{
	padding-bottom: 40px;
}

/* register form */	

#register{
	margin:5em auto;
	background:#fff;
	border:8px solid #eee;
	width:500px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 10px #4e707c;
	-webkit-box-shadow:0 0 10px #4e707c;
	box-shadow:0 0 10px #4e707c;
	text-align:left;
	position:relative;
	}
#register a, #register a:visited{color:#0283b2;}
#register a:hover{color:#111;}
#register h1{
	background:#1A1A1A;
	color:#fff;
	text-shadow:#007dab 0 1px 0;
	font-size:14px;
	padding:18px 23px;
	margin:0 0 1.5em 0;
	border-bottom:1px solid #007dab;
	}
#register .login{
	position:absolute;
	float:left;
	margin:0;
	line-height:30px;
	top:-40px;
	right:0;
	font-size:11px;
	}
#register p{margin:.5em 25px;}
#register div{
	margin:.5em 25px;
	background:#eee;
	padding:4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	text-align:right;
	position:relative;
	}	
#register label{
	float:left;
	line-height:30px;
	padding-left:10px;
	}
#register .field{
	border:1px solid #ccc;
	width:280px;
	font-size:12px;
	line-height:1em;
	padding:4px;
	-moz-box-shadow:inset 0 0 5px #ccc;
	-webkit-box-shadow:inset 0 0 5px #ccc;
	box-shadow:inset 0 0 5px #ccc;
	}	
#register div.submit{background:none;margin:1em 25px;text-align:left;}	
#register div.submit label{float:none;display:inline;font-size:11px;}	
#register button{
	border:0;
	padding:0 30px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:12px;
	color:#fff;
	text-shadow:#007dab 0 1px 0;
	background:#0092c8;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	cursor:pointer;
	}
	
#register .forgot{text-align:right;font-size:11px;}
#register .back{padding:1em 0;border-top:1px solid #eee;text-align:right;font-size:11px;}
#register .error{
	float:left;
	position:absolute;
	left:95%;
	top:-5px;
	background:#890000;
	padding:5px 10px;	
	font-size:11px;
	color:#fff;
	text-shadow:#500 0 1px 0;
	text-align:left;
	white-space:nowrap;
	border:1px solid #500;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 0 5px #700;
	-webkit-box-shadow:0 0 5px #700;
	box-shadow:0 0 5px #700;
	}

#serverMessage{
	margin: auto;
	background:#890000;
	padding:5px 10px;	
	font-size:12px;
	color:#fff;
	text-shadow:#500 0 1px 0;
	text-align:center;
	white-space:nowrap;
	border:1px solid #500;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 0 5px #700;
	-webkit-box-shadow:0 0 5px #700;
	box-shadow:0 0 5px #700;
}

/* // #register form */	
		
